[Unit]
Description=%p-%i

# Requirements
Requires=docker.service

# Dependency ordering
After=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutStartSec=60
TimeoutStopSec=15
Environment="PWD=/etc/docker-compose/%i"
WorkingDirectory=/etc/docker-compose/%i/
ExecStartPre=-/usr/local/bin/docker-compose rm -f
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop

[Install]
WantedBy=multi-user.target

