[Unit]
Description=%p-%i

# Requirements
Requires=docker.service

# Dependency ordering
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/docker network create %i
ExecStop=/usr/bin/docker network rm %i

[Install]
WantedBy=multi-user.target
