[Unit]
Description=Pulling images from %i

# Requirements
Requires=u@%i.service

# Dependency ordering
After=u@%i.service

[Service]
Type=oneshot
WorkingDirectory=/etc/docker-compose/%i/
ExecStart=/usr/local/bin/docker-compose pull

[Install]
WantedBy=multi-user.target
